/* variables */
$pale_lilac: #c7c5f4;
$royal_blue: #776bcc;
$dark_purple: #5d54a4;
$light_indigo: #7c78b8;
$indigo: #5c5696;
$royal_purple: #6c63ac;
$white: #fff;
$slate_blue: #6a679e;
$slate_blue_dark: #7875b5;
$periwinkle: #7e7bb9;
$light_gray: #d1d1d4;
$pastel_lavende: #d4d3e8;
$dark_royal_blue: #4c489d;
